.exhibit-block {
  position: relative;
}
nav .previous {
  position: absolute;
  top: 50%;
  left: -10px
}
nav .next {
  position: absolute;
  top: 50%;
  right: -10px
}
#viewer {
	background-color: #f8f8f8;
}
#viewer .caption {
	padding: 0 20px 10px;
}
#viewer .nav-tabs {
	border: none;
	padding: 0 20px 20px;
}
#viewer .nav-tabs>li {
	width: 10%;
}
#viewer .nav-tabs>li>a {
	border-radius: 4px;
	padding: 5px;
}
#viewer .nav-tabs>li>a:hover {
	border-color: #ddd;
}
#viewer .nav-tabs>li.active>a, #viewer .nav-tabs>li.active>a:focus, #viewer .nav-tabs>li.active>a:hover {
	border-bottom-color: #ddd;
}
#viewer .nav-tabs>li img {
	width: 100%;
}
@media (max-width: 767px) {
	#viewer .openseadragon-frame {
		overflow: visible;
	}
}
