nav .previous {
  position: fixed;
  top: 50%;
  left: 15px;
  margin-top: -24px;
  z-index: 1;
}
nav .next {
  position: fixed;
  top: 50%;
  right: 15px;
  margin-top: -24px;
  z-index: 1;
}
@media (max-width: 1300px) {
  nav .previous {
    position: initial;
    float: left;
  }
  nav .next {
    position: initial;
    float: right;
  }
}
@media (max-width: 1199px) {
  nav .previous {
    position: fixed;
    top: 50%;
    left: 15px;
    margin-top: -24px;
    z-index: 1;
    float: none;
  }
  nav .next {
    position: fixed;
    top: 50%;
    right: 15px;
    margin-top: -24px;
    z-index: 1;
    float: none;
  }
}
@media (max-width: 1100px) {
  nav .previous {
    position: initial;
    float: left;
  }
  nav .next {
    position: initial;
    float: right;
  }
}
@media (max-width: 991px) {
  nav .previous {
    position: fixed;
    top: 50%;
    left: 15px;
    margin-top: -24px;
    z-index: 1;
    float: none;
  }
  nav .next {
    position: fixed;
    top: 50%;
    right: 15px;
    margin-top: -24px;
    z-index: 1;
    float: none;
  }
}
@media (max-width: 872px) {
  nav .previous {
    position: initial;
    float: left;
  }
  nav .next {
    position: initial;
    float: right;
  }
}
@media (max-width: 767px) {

}
#viewer {
	background-color: #f8f8f8;
}
#viewer .caption {
	padding: 0 20px 10px;
}
#viewer .nav-tabs {
	border: none;
	padding: 0 20px 20px;
}
#viewer .nav-tabs>li {
	width: 10%;
}
#viewer .nav-tabs>li>a {
	border-radius: 4px;
	padding: 5px;
}
#viewer .nav-tabs>li>a:hover {
	border-color: #ddd;
}
#viewer .nav-tabs>li.active>a, #viewer .nav-tabs>li.active>a:focus, #viewer .nav-tabs>li.active>a:hover {
	border-bottom-color: #ddd;
}
#viewer .nav-tabs>li img {
	width: 100%;
}
@media (max-width: 767px) {
	#viewer .openseadragon-frame {
		overflow: visible;
	}
}
